extends layout

block content
  h1 Title: #{game.title}

  p #[strong Developer: ]
    a(href=game.developer.url) #{game.developer.name}
  p #[strong Summary:] #{game.description}
  p #[strong Genre: ]
    each val, index in game.genre
      a(href=val.url) #{val.name}
      if index < game.genre.length - 1
        |,&nbsp;
  p #[strong Price]: $#{game.price}
  p #[strong Stock:] #{game.inStock}
  div(style='margin-left:20px;margin-top:20px')
 
  p #[strong Platforms:] 
    each val, index in game.platform 
        span #{val}
        if index < game.platform.length - 1
           |,&nbsp;

  hr
  p
    a(href=game.url+'/delete') Delete Game
  p
    a(href=game.url+'/update') Update Game
